.container {
    background: lightcoral;
    width: max-content;
    margin: auto;
}

.display {
    width: 100%;
    background-color: lightblue;
    height: 100px;
    font-size: 48px;
    display: flex;
    justify-content: flex-end;
    align-items: end;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
}

button {
    flex: 1 25%;
    padding: 15px;
    font-size: 24px;
}

.btn-number {
    background-color:lightgray;
  }
  
  .btn-operator {
    background-color: orange;
  }
  
  .btn-equals {
    background-color:lightseagreen;
  }
  
  .btn-clear {
     background-color:lightcoral;
  }